@font-face {
  font-family: playfair-display-regular;
  src: url('../public/fonts/playfair-display-regular/playfair-display-regular.eot');
  src: url('../public/fonts/playfair-display-regular/playfair-display-regular.woff') format('woff');
  src: url('../public/fonts/playfair-display-regular/playfair-display-regular.woff2') format('woff2');
}
@font-face {
  font-family: ubuntu-regular;
  src: url('../public/fonts/ubuntu-regular/ubuntu-regular.eot');
  src: url('../public/fonts/ubuntu-regular/ubuntu-regular.woff') format('woff');
  src: url('../public/fonts/ubuntu-regular/ubuntu-regular.woff2') format('woff2');
}
p {
  font-family: playfair-display-regular;
  font-weight: 400;
  letter-spacing: 0;
}
span {
  font-family: ubuntu-regular;
  font-weight: 100;
  letter-spacing: 0;
}
* {
  font-family: ubuntu-regular;
  font-weight: 700;
  letter-spacing: 0;
}
@media only screen and (min-width: 1700px) {
  body {
    font-size: clamp(1.25rem, 3vw, 1.4rem);
  }
  span {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1700px) {
  body {
    font-size: clamp(1.15rem, 3vw, 1.35rem);
  }
  span {
    font-size: 0.95rem;
  }
}
@media only screen and (max-width: 1100px) {
  body {
    font-size: clamp(1.1rem, 3vw, 1.3rem);
  }
  span {
    font-size: 0.85rem;
  }
}
@media only screen and (max-width: 600px) {
  body {
    font-size: clamp(1.1rem, 3vw, 1.3rem);
  }
  span {
    font-size: 0.85rem;
  }
}
@media only screen and (max-width: 500px) {
  body {
    font-size: clamp(1rem, 3vw, 1.2rem);
  }
  span {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 350px) {
  body {
    font-size: clamp(0.9rem, 3vw, 1.1rem);
  }
  span {
    font-size: 0.75rem;
  }
}
.main .main_nav {
  width: 350px;
  background-color: #2b2d42;
  -webkit-box-shadow: 2px 0 20px #2b2d42;
          box-shadow: 2px 0 20px #2b2d42;
}
.main .main_nav .nav_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  position: fixed;
  width: 347px;
}
.main .main_nav .nav_body .nav_logo {
  text-align: center;
}
.main .main_nav .nav_body .nav_logo h1 {
  margin-top: 60px;
  margin-bottom: 25px;
  color: #fff !important;
  text-align: center;
  font-weight: 100;
  font-size: 2.5rem;
}
.main .main_nav .nav_body .nav_logo img {
  width: 95%;
  height: 2rem;
}
.main .main_nav .nav_body .nav_links {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .main_nav .nav_body .nav_links a {
  text-decoration: none;
  padding: 20px 30px;
  color: #EDF2F4;
}
.main .main_nav .nav_body .nav_links a:hover {
  background-color: #EF233C;
}
.main .main_nav img {
  width: 70%;
}
@media only screen and (max-width: 900px) {
  .main .main_nav {
    display: none;
  }
}
.btn-primary {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #2b2d42;
  color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.btn-primary:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  -webkit-animation: glowing 25s linear infinite;
          animation: glowing 25s linear infinite;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.btn-primary:hover:before {
  opacity: 1;
}
.btn-primary:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2b2d42;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@media only screen and (min-width: 1700px) {
  .btn-primary {
    width: 320px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1700px) {
  .btn-primary {
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 1100px) {
  .btn-primary {
    width: 230px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .btn-primary {
    width: clamp(40vw, 45vw, 50vw);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 500px) {
  .btn-primary {
    width: clamp(40vw, 45vw, 50vw);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 350px) {
  .btn-primary {
    width: clamp(50vw, 60vw, 80vw);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.8rem;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  width: 60px;
  height: 60px;
  line-height: 0.5rem;
  z-index: 3;
  position: fixed;
  left: 50px;
  bottom: 50px;
  border-radius: 50%;
  border: none;
  color: #fff;
  background-color: #2b2d42;
}
.dropdown .dropbtn:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #fff;
  background-color: #D80032;
}
@media only screen and (min-width: 900px) {
  .dropbtn {
    display: none;
  }
}
.dropdown-content {
  display: none;
  bottom: 80px;
  left: 90px;
  position: fixed;
  background-color: #2b2d42;
  min-width: 250px;
  border-radius: 0.7rem;
  -webkit-box-shadow: 0 0 15px #3f4261;
          box-shadow: 0 0 15px #3f4261;
  z-index: 4;
}
.dropdown-content a {
  color: #fff;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:nth-child(1) {
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}
.dropdown-content a:nth-child(7) {
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}
.dropdown-content a:hover {
  background-color: #D80032;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.main .main_content .aboutme .main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main_content .aboutme .main .aboutme_img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px #2b2d42;
          box-shadow: 0 0 15px #2b2d42;
}
.main .main_content .aboutme .main .aboutme_img::after {
  z-index: -1;
  position: absolute;
  content: "";
  top: calc(-1 * 5px);
  left: calc(-1 * 5px);
  width: calc(100% + 5px * 2);
  height: calc(100% + 5px * 2);
  background: linear-gradient(60deg, hsl(224, 85%, 66%), hsl(269, 85%, 66%), hsl(314, 85%, 66%), hsl(359, 85%, 66%), hsl(44, 85%, 66%), hsl(89, 85%, 66%), hsl(134, 85%, 66%), hsl(179, 85%, 66%));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * 50%);
  -webkit-animation: moveGradient 4s alternate infinite;
          animation: moveGradient 4s alternate infinite;
}
.main .main_content .aboutme .main .aboutme_img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .main_content .aboutme .main .aboutme_texts .title {
  margin-top: 30px;
  margin-bottom: 7px;
}
.main .main_content .aboutme .main .aboutme_texts .sub_title {
  display: block;
  color: #999999;
}
.main .main_content .aboutme .main .aboutme_texts .intro_title {
  margin-top: 15px;
  margin-bottom: 15px;
}
.main .main_content .aboutme .main .aboutme_texts .intro_text {
  margin: 0;
}
.main .main_content .aboutme .main .aboutme_texts * {
  text-align: center;
}
@media only screen and (min-width: 1700px) {
  .main .main_content .aboutme .main {
    width: 80%;
  }
  .main .main_content .aboutme .main .aboutme_img {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 1700px) {
  .main .main_content .aboutme .main {
    width: 80%;
  }
  .main .main_content .aboutme .main .aboutme_img {
    width: 180px;
    height: 180px;
  }
}
@media only screen and (max-width: 1100px) {
  .main .main_content .aboutme .main {
    width: 80%;
  }
  .main .main_content .aboutme .main .aboutme_img {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (max-width: 600px) {
  .main .main_content .aboutme .main {
    width: 80%;
  }
  .main .main_content .aboutme .main .aboutme_img {
    width: 135px;
    height: 135px;
  }
}
@media only screen and (max-width: 500px) {
  .main .main_content .aboutme .main {
    width: 80%;
  }
  .main .main_content .aboutme .main .aboutme_img {
    width: 125px;
    height: 125px;
  }
}
@media only screen and (max-width: 300px) {
  .main .main_content .aboutme .main {
    width: 80%;
  }
  .main .main_content .aboutme .main .aboutme_img {
    width: 115px;
    height: 115px;
  }
}
.main .main_content .workexperience .main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main_content .workexperience .main .cards .separator_line {
  width: 100%;
}
.main .main_content .workexperience .main .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.main .main_content .workexperience .main .cards .card .card_title {
  margin-top: 0;
  margin-bottom: 10px;
}
.main .main_content .workexperience .main .cards .card .card_text {
  margin: 0;
}
@media only screen and (min-width: 1700px) {
  .workexperience .main .cards {
    width: 84%;
    margin-top: 15px;
  }
  .workexperience .main .cards .separator_line {
    height: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .workexperience .main .cards .card p > span:nth-child(1) {
    color: #D80032;
    font-size: 1.4rem;
  }
  .workexperience .main .cards .card .card_title .card_address .dote,
  .workexperience .main .cards .card .card_title .card_date .dote {
    width: 14px;
    height: 14px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 1700px) {
  .workexperience .main .cards {
    width: 86%;
    margin-top: 10px;
  }
  .workexperience .main .cards .separator_line {
    height: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .workexperience .main .cards .card p > span:nth-child(1) {
    color: #D80032;
    font-size: 1.3rem;
  }
  .workexperience .main .cards .card .card_title .card_address .dote,
  .workexperience .main .cards .card .card_title .card_date .dote {
    width: 12px;
    height: 12px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 1100px) {
  .workexperience .main .cards {
    width: 80%;
    margin-top: 10px;
  }
  .workexperience .main .cards .separator_line {
    height: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .workexperience .main .cards .card p > span:nth-child(1) {
    color: #D80032;
    font-size: 1.2rem;
  }
  .workexperience .main .cards .card .card_title .card_address .dote,
  .workexperience .main .cards .card .card_title .card_date .dote {
    width: 12px;
    height: 12px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 600px) {
  .workexperience .main .cards {
    width: 76%;
    margin-top: 10px;
  }
  .workexperience .main .cards .separator_line {
    height: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .workexperience .main .cards .card p > span:nth-child(1) {
    color: #D80032;
    font-size: 1.1rem;
  }
  .workexperience .main .cards .card .card_title .card_address .dote,
  .workexperience .main .cards .card .card_title .card_date .dote {
    width: 10px;
    height: 10px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .workexperience .main .cards {
    width: 74%;
    margin-top: 10px;
  }
  .workexperience .main .cards .separator_line {
    display: none;
  }
  .workexperience .main .cards .card:not(.workexperience .main .cards .card:nth-child(1)) {
    margin-top: 10px;
  }
  .workexperience .main .cards .card p > span:nth-child(1) {
    color: #D80032;
    font-size: 1rem;
  }
  .workexperience .main .cards .card .card_title .card_address .dote,
  .workexperience .main .cards .card .card_title .card_date .dote {
    width: 9px;
    height: 9px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 350px) {
  .workexperience .main .cards {
    width: 72%;
    margin-top: 10px;
  }
  .workexperience .main .cards .separator_line {
    display: none;
  }
  .workexperience .main .cards .card:not(.workexperience .main .cards .card:nth-child(1)) {
    margin-top: 10px;
  }
  .workexperience .main .cards .card p > span:nth-child(1) {
    color: #D80032;
    font-size: 0.9rem;
  }
  .workexperience .main .cards .card .card_title .card_address .dote,
  .workexperience .main .cards .card .card_title .card_date .dote {
    width: 7px;
    height: 7px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
.main .main_content .education .main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main_content .education .main .cards {
  overflow: auto;
  margin-top: 20px;
}
.main .main_content .education .main .cards .separator_line {
  width: 100%;
}
.main .main_content .education .main .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.main .main_content .education .main .cards .card .card_title {
  margin-top: 0;
  margin-bottom: 5px;
}
@media only screen and (min-width: 1700px) {
  .education .main .cards {
    width: 80%;
    margin-top: 15px;
  }
  .education .main .cards .separator_line {
    height: 22px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .education .main .cards .card p {
    margin: 0;
    font-style: italic;
  }
  .education .main .cards .card .card_title .card_address .dote,
  .education .main .cards .card .card_title .card_date .dote {
    width: 14px;
    height: 14px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 1700px) {
  .education .main .cards {
    width: 78%;
    margin-top: 10px;
  }
  .education .main .cards .separator_line {
    height: 20px;
    margin-top: 14px;
    margin-bottom: 9px;
  }
  .education .main .cards .card p {
    margin: 0;
    font-style: italic;
  }
  .education .main .cards .card .card_title .card_address .dote,
  .education .main .cards .card .card_title .card_date .dote {
    width: 12px;
    height: 12px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 1100px) {
  .education .main .cards {
    width: 76%;
    margin-top: 10px;
  }
  .education .main .cards .separator_line {
    height: 18px;
    margin-top: 14px;
    margin-bottom: 9px;
  }
  .education .main .cards .card p {
    font-style: italic;
    margin: 0;
  }
  .education .main .cards .card .card_title .card_address .dote,
  .education .main .cards .card .card_title .card_date .dote {
    width: 12px;
    height: 12px;
    margin-right: 0.3rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 600px) {
  .education .main .cards {
    width: 74%;
    margin-top: 10px;
  }
  .education .main .cards .separator_line {
    height: 15px;
    margin-top: 12px;
    margin-bottom: 7px;
  }
  .education .main .cards .card p {
    margin: 0;
    font-style: italic;
  }
  .education .main .cards .card .card_title .card_address .dote,
  .education .main .cards .card .card_title .card_date .dote {
    width: 10px;
    height: 10px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .education .main .cards {
    width: 72%;
    margin-top: 10px;
  }
  .education .main .cards .separator_line {
    display: none;
  }
  .education .main .cards .card:not(.education .main .cards .card:nth-child(1)) {
    margin-top: 15px;
  }
  .education .main .cards .card p {
    margin: 0;
    font-style: italic;
  }
  .education .main .cards .card .card_title .card_address .dote,
  .education .main .cards .card .card_title .card_date .dote {
    width: 9px;
    height: 9px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 350px) {
  .education .main .cards {
    width: 70%;
    margin-top: 10px;
  }
  .education .main .cards .separator_line {
    display: none;
  }
  .education .main .cards .card:not(.education .main .cards .card:nth-child(1)) {
    margin-top: 12px;
  }
  .education .main .cards .card p {
    margin: 0;
    font-style: italic;
  }
  .education .main .cards .card .card_title .card_address .dote,
  .education .main .cards .card .card_title .card_date .dote {
    width: 7px;
    height: 7px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
.main .main_content .qualities .main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main_content .qualities .main .cards {
  overflow: auto;
  margin-top: 20px;
}
.main .main_content .qualities .main .cards .separator_line {
  width: 100%;
}
.main .main_content .qualities .main .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.main .main_content .qualities .main .cards .card .card_title {
  margin-top: 0;
  margin-bottom: 5px;
}
@media only screen and (min-width: 1700px) {
  .qualities .main .cards {
    width: 80%;
    margin-top: 15px;
  }
  .qualities .main .cards .separator_line {
    height: 22px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .qualities .main .cards .card p {
    margin: 0;
    font-style: italic;
  }
  .qualities .main .cards .card .card_title .card_address .dote,
  .qualities .main .cards .card .card_title .card_date .dote {
    width: 14px;
    height: 14px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 1700px) {
  .qualities .main .cards {
    width: 78%;
    margin-top: 10px;
  }
  .qualities .main .cards .separator_line {
    height: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .qualities .main .cards .card p {
    margin: 0;
    font-style: italic;
  }
  .qualities .main .cards .card .card_title .card_address .dote,
  .qualities .main .cards .card .card_title .card_date .dote {
    width: 12px;
    height: 12px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 1100px) {
  .qualities .main .cards {
    width: 76%;
    margin-top: 10px;
  }
  .qualities .main .cards .separator_line {
    height: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .qualities .main .cards .card .card_title .card_address .dote,
  .qualities .main .cards .card .card_title .card_date .dote {
    width: 12px;
    height: 12px;
    margin-right: 0.3rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 600px) {
  .qualities .main .cards {
    width: 74%;
    margin-top: 10px;
  }
  .qualities .main .cards .separator_line {
    height: 15px;
    margin-top: 12px;
    margin-bottom: 7px;
  }
  .qualities .main .cards .card .card_title .card_address .dote,
  .qualities .main .cards .card .card_title .card_date .dote {
    width: 10px;
    height: 10px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .qualities .main .cards {
    width: 72%;
    margin-top: 10px;
  }
  .qualities .main .cards .separator_line {
    display: none;
  }
  .qualities .main .cards .card:not(.qualities .main .cards .card:nth-child(1)) {
    margin-top: 15px;
  }
  .qualities .main .cards .card .card_title .card_address .dote,
  .qualities .main .cards .card .card_title .card_date .dote {
    width: 9px;
    height: 9px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 350px) {
  .qualities .main .cards {
    width: 70%;
    margin-top: 10px;
  }
  .qualities .main .cards .separator_line {
    display: none;
  }
  .qualities .main .cards .card:not(.qualities .main .cards .card:nth-child(1)) {
    margin-top: 12px;
  }
  .qualities .main .cards .card .card_title .card_address .dote,
  .qualities .main .cards .card .card_title .card_date .dote {
    width: 7px;
    height: 7px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
.main .main_content .reference .main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main_content .reference .main h1 {
  text-align: center;
}
.main .main_content .reference .main .cards {
  overflow: auto;
  margin-top: 20px;
}
.main .main_content .reference .main .cards .separator_line {
  width: 100%;
}
.main .main_content .reference .main .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.main .main_content .reference .main .cards .card .card_title {
  margin-top: 0;
  margin-bottom: 5px;
}
@media only screen and (min-width: 1700px) {
  .reference .main .cards {
    width: 80%;
    height: 70%;
    margin-top: 15px;
  }
  .reference .main .cards .separator_line {
    height: 22px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .reference .main .cards .card .card_title .card_address .dote,
  .reference .main .cards .card .card_title .card_date .dote {
    width: 15px;
    height: 15px;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }
}
@media only screen and (max-width: 1700px) {
  .reference .main .cards {
    width: 85%;
    height: 80%;
    margin-top: 10px;
  }
  .reference .main .cards .separator_line {
    height: 20px;
    margin-top: 18px;
    margin-bottom: 12px;
  }
  .reference .main .cards .card .card_title .card_address .dote,
  .reference .main .cards .card .card_title .card_date .dote {
    width: 13px;
    height: 13px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 1100px) {
  .reference .main .cards {
    width: 80%;
    height: 80%;
    margin-top: 10px;
  }
  .reference .main .cards .separator_line {
    height: 18px;
    margin-top: 18px;
    margin-bottom: 12px;
  }
  .reference .main .cards .card p {
    font-style: italic;
    margin: 0;
  }
  .reference .main .cards .card .card_title .card_address .dote,
  .reference .main .cards .card .card_title .card_date .dote {
    width: 12px;
    height: 12px;
    margin-right: 0.3rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 600px) {
  .reference .main .cards {
    width: 76%;
    height: 75%;
    margin-top: 10px;
  }
  .reference .main .cards .separator_line {
    height: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .reference .main .cards .card .card_title .card_address .dote,
  .reference .main .cards .card .card_title .card_date .dote {
    width: 10px;
    height: 10px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .reference .main h1 {
    width: 72%;
    overflow-wrap: break-word;
  }
  .reference .main .cards {
    width: 72%;
    height: 75%;
    margin-top: 10px;
  }
  .reference .main .cards .separator_line {
    display: none;
  }
  .reference .main .cards .card:not(.reference .main .cards .card:nth-child(1)) {
    margin-top: 15px;
  }
  .reference .main .cards .card p {
    margin: 0;
    font-style: italic;
  }
  .reference .main .cards .card .card_title .card_address .dote,
  .reference .main .cards .card .card_title .card_date .dote {
    width: 9px;
    height: 9px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 350px) {
  .reference .main .cards {
    height: 65%;
    width: 70%;
    margin-top: 10px;
  }
  .reference .main .cards .separator_line {
    display: none;
  }
  .reference .main .cards .card:not(.reference .main .cards .card:nth-child(1)) {
    margin-top: 10px;
  }
  .reference .main .cards .card .card_title .card_address .dote,
  .reference .main .cards .card .card_title .card_date .dote {
    width: 7px;
    height: 7px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
.main .main_content .contact .main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main_content .contact .main h1 {
  text-align: center;
}
.main .main_content .contact .main .cards {
  overflow: auto;
  margin-top: 20px;
}
.main .main_content .contact .main .cards .separator_line {
  width: 100%;
}
.main .main_content .contact .main .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.main .main_content .contact .main .cards .card .card_title {
  margin-top: 0;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1700px) {
  .contact .main .cards {
    width: 80%;
    height: 45%;
    margin-top: 15px;
  }
  .contact .main .cards .separator_line {
    height: 22px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .contact .main .cards .card .card_title .card_address .dote,
  .contact .main .cards .card .card_title .card_date .dote {
    width: 15px;
    height: 15px;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }
}
@media only screen and (max-width: 1700px) {
  .contact .main .cards {
    width: 85%;
    height: 45%;
    margin-top: 10px;
  }
  .contact .main .cards .separator_line {
    height: 20px;
    margin-top: 18px;
    margin-bottom: 12px;
  }
  .contact .main .cards .card .card_title .card_address .dote,
  .contact .main .cards .card .card_title .card_date .dote {
    width: 13px;
    height: 13px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 1100px) {
  .contact .main .cards {
    width: 80%;
    height: 45%;
    margin-top: 10px;
  }
  .contact .main .cards .separator_line {
    height: 18px;
    margin-top: 18px;
    margin-bottom: 12px;
  }
  .contact .main .cards .card p {
    font-style: italic;
    margin: 0;
  }
  .contact .main .cards .card .card_title .card_address .dote,
  .contact .main .cards .card .card_title .card_date .dote {
    width: 12px;
    height: 12px;
    margin-right: 0.3rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 600px) {
  .contact .main .cards {
    width: 76%;
    height: 40%;
    margin-top: 10px;
  }
  .contact .main .cards .separator_line {
    height: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .contact .main .cards .card .card_title .card_address .dote,
  .contact .main .cards .card .card_title .card_date .dote {
    width: 10px;
    height: 10px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .contact .main .cards {
    width: 72%;
    height: 40%;
    margin-top: 10px;
  }
  .contact .main .cards .separator_line {
    display: none;
  }
  .contact .main .cards .card:not(.contact .main .cards .card:nth-child(1)) {
    margin-top: 15px;
  }
  .contact .main .cards .card p {
    margin: 0;
    font-style: italic;
  }
  .contact .main .cards .card .card_title .card_address .dote,
  .contact .main .cards .card .card_title .card_date .dote {
    width: 9px;
    height: 9px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 350px) {
  .contact .main .cards {
    height: 40%;
    width: 70%;
    margin-top: 10px;
  }
  .contact .main .cards .separator_line {
    display: none;
  }
  .contact .main .cards .card:not(.contact .main .cards .card:nth-child(1)) {
    margin-top: 10px;
  }
  .contact .main .cards .card .card_title .card_address .dote,
  .contact .main .cards .card .card_title .card_date .dote {
    width: 7px;
    height: 7px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
.main .main_content .documents .main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main_content .documents .main h1 {
  text-align: center;
}
.main .main_content .documents .main .cards {
  overflow: auto;
  margin-top: 20px;
}
.main .main_content .documents .main .cards .separator_line {
  width: 100%;
}
.main .main_content .documents .main .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.main .main_content .documents .main .cards .card .card_title {
  margin-top: 0;
  margin-bottom: 5px;
}
@media only screen and (min-width: 1700px) {
  .documents .main .cards {
    width: 80%;
    height: 70%;
    margin-top: 15px;
  }
  .documents .main .cards .separator_line {
    height: 22px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .documents .main .cards .card .card_title .card_address .dote,
  .documents .main .cards .card .card_title .card_date .dote {
    width: 15px;
    height: 15px;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }
}
@media only screen and (max-width: 1700px) {
  .documents .main .cards {
    width: 85%;
    height: 65%;
    margin-top: 10px;
  }
  .documents .main .cards .separator_line {
    height: 20px;
    margin-top: 18px;
    margin-bottom: 12px;
  }
  .documents .main .cards .card .card_title .card_address .dote,
  .documents .main .cards .card .card_title .card_date .dote {
    width: 13px;
    height: 13px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 1100px) {
  .documents .main .cards {
    width: 80%;
    height: 70%;
    margin-top: 10px;
  }
  .documents .main .cards .separator_line {
    height: 18px;
    margin-top: 18px;
    margin-bottom: 12px;
  }
  .documents .main .cards .card p {
    font-style: italic;
    margin: 0;
  }
  .documents .main .cards .card .card_title .card_address .dote,
  .documents .main .cards .card .card_title .card_date .dote {
    width: 12px;
    height: 12px;
    margin-right: 0.3rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 600px) {
  .documents .main .cards {
    width: 78%;
    height: 70%;
    margin-top: 10px;
  }
  .documents .main .cards .separator_line {
    height: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .documents .main .cards .card p {
    margin: 0;
    font-style: italic;
  }
  .documents .main .cards .card .card_title .card_address .dote,
  .documents .main .cards .card .card_title .card_date .dote {
    width: 10px;
    height: 10px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .documents .main h1 {
    width: 72%;
    overflow-wrap: break-word;
  }
  .documents .main .cards {
    width: 72%;
    margin-top: 10px;
  }
  .documents .main .cards .separator_line {
    display: none;
  }
  .documents .main .cards .card:not(.documents .main .cards .card:nth-child(1)) {
    margin-top: 15px;
  }
  .documents .main .cards .card p {
    margin: 0;
    font-style: italic;
  }
  .documents .main .cards .card .card_title .card_address .dote,
  .documents .main .cards .card .card_title .card_date .dote {
    width: 9px;
    height: 9px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 350px) {
  .documents .main h1 {
    width: 70%;
    overflow-wrap: break-word;
  }
  .documents .main .cards {
    height: 60%;
    width: 70%;
    margin-top: 10px;
  }
  .documents .main .cards .separator_line {
    display: none;
  }
  .documents .main .cards .card:not(.documents .main .cards .card:nth-child(1)) {
    margin-top: 10px;
  }
  .documents .main .cards .card .card_title .card_address .dote,
  .documents .main .cards .card .card_title .card_date .dote {
    width: 7px;
    height: 7px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}
.main .main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: calc(100vw - 350px);
}
.main .main_content section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 99.3vh;
  position: relative;
}
.main .main_content section .vector-top,
.main .main_content section .vector-bottom {
  position: absolute;
  z-index: 0;
  width: 250px;
}
.main .main_content section .vector-top {
  left: 20px;
  top: 20px;
}
.main .main_content section .vector-bottom {
  right: 20px;
  bottom: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.main .main_content section * {
  z-index: 1;
}
.main .main_content section .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 80vh;
  overflow-y: auto;
}
@media only screen and (max-width: 900px) {
  .main .main_content {
    width: 100vw;
  }
}
@media only screen and (max-width: 600px) {
  .main .main_content {
    width: 100vw;
  }
}
@media only screen and (max-width: 500px) {
  .main .main_content {
    width: 100vw;
  }
  .main .main_content section > .vector-top,
  .main .main_content section > .vector-bottom {
    width: 200px;
  }
}
@media only screen and (max-width: 350px) {
  .main .main_content {
    width: 100vw;
  }
  .main .main_content section > .vector-top,
  .main .main_content section > .vector-bottom {
    width: 180px;
  }
}
img {
  pointer-events: none;
}
/**
 * @font-face LESS Mixin
 * use: .font-face(
 *   @font-family, // name
 *   @file-path,   // absolute/relative URL to font files
 * )
 */
/**
   * font LESS Mixin
   * use: .font(
   *   @font-family, // font name
   *   @font-weight, // font weight 
   *   @letter-spacing, // letter spacing 
   * )
   */
@-webkit-keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-webkit-keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
* {
  scroll-behavior: smooth;
}
body {
  background-color: #EDF2F4;
  color: #2b2d42;
  margin: 0;
  padding: 0;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=index.css.map */