// settings
@import "./_settings/index.less";

//components
@import "./components/index.less";


// mixins
@import "./mixins/fontface-mixin.less";


//animations
@import "./animations/keyframes.less";



* {
    scroll-behavior:smooth;
}


body {
    background-color: @lightgray-color;
    margin: 0;
    padding: 0;

    .main_nav {
        color: @white-color;
    }

    .main_content{
        color: @black-color;
    }
}


.main {
    display: flex;
    flex-direction: row;
}

