@import "./aboutme.less";
@import "./workexperience.less";
@import "./education.less";
@import "./qualities.less";
@import "./reference.less";
@import "./contact.less";
@import "./documents.less";

.main {
  .main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: calc(100vw - 350px);
    overflow-y: scroll;

    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 99.3vh;
      position: relative;

      .vector-top,
      .vector-bottom {
        position: absolute;
        z-index: 0;
        width: 20%;
      }
    

      .vector-top {
        left: 4%;
        top: 5%;
      }

      .vector-bottom {
        right: 4%;
        bottom: 5%;
        transform: rotate(180deg);
      }

      * {
        z-index: 1;
      }



      .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 80vh;
        overflow-y: auto;
      }

    }
  }
}


@media only screen and (max-width: 900px) {
  .main {
    .main_content {
      width:100vw;

      section {
        .vector-top,
        .vector-bottom {
          width: 20%;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .main {
    .main_content {
      width:100vw;
      section {
        .vector-top,
        .vector-bottom {
          width: 27%;
        }

        .vector-top {
          left: 4%;
          top: 4%;
        }
  
        .vector-bottom {
          right: 4%;
          bottom: 2%;
        }
      
      }
    }
  }
    }


    @media only screen and (max-width: 500px) {
      .main {
        .main_content {
          width:100vw;
          section {
            .vector-top,
            .vector-bottom {
              width: 30%;
            }
          
            .vector-top {
              left: 6%;
              top: 4%;
            }
      
            .vector-bottom {
              right: 6%;
              bottom: 3%;
            }
          }
        }
      }
    }

@media only screen and (max-width: 300px) {
  .main {
    .main_content {
      width:100vw;
      section {
        .vector-top,
        .vector-bottom {
          width: 35%;
        }
      
        .vector-top {
          left: 4%;
          top: 2%;
        }
  
        .vector-bottom {
          right: 4%;
          bottom: 2%;
          transform: rotate(180deg);
        }
      }
    }
  }
}